$first-color = red;
$second-color = black;

// easings
$easeIn = cubic-bezier(0, 0, 0.2, 1);
$easeOut = cubic-bezier(0.40, 0.00, 1.00, 1.00);
$easeInOut = cubic-bezier(0.40, 0.00, 0.20, 1.00);

//media

$desktop = "only screen and (min-width: 1024px)"

$large = "only screen and (max-width: 1440px)"
$normal = "only screen and (max-width: 1365px)"
$medium = "only screen and (max-width: 1199px)"
$small = "only screen and (max-width: 1023px)"
$xsmall = "only screen and (max-width: 767px)"
$xxsmall = "only screen and (max-width: 460px)"