<!DOCTYPE html>
<html lang="en">
<head>
	<title>Project name</title>
	{% include "templates/head.njk" %}
</head>
<body class="error-page">
	{% include "templates/utils.njk" %}
	{% include "templates/svg-icons.njk" %}

	<div class="error-page__content">
		<h4>Error</h4>
		<div class="error-page__code">{{ serverData.error.status }}</div>
		<pre>{{ serverData.error.message }}</pre>
	</div>
	
	<!-- Footer Scripts -->
	{% include "templates/custom-scripts.njk" %}
</body>
</html>
