<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{serverData.data.title}}</title>
	{% include "templates/head.njk" %}
</head>
<body class="preview">
	{% include "templates/utils.njk" %}
	{% include "templates/svg-icons.njk" %}
	<div class="preview__container">
		<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
		<script>
			function getRandomInt(min, max) {return Math.floor(Math.random() * (max - min + 1)) + min; }
			const values = ['https://assets10.lottiefiles.com/packages/lf20_w51pcehl.json', 'https://assets8.lottiefiles.com/private_files/lf30_xeb8piyr.json', 'https://assets7.lottiefiles.com/packages/lf20_ucqpl3zt.json'];
			document.write(`<lottie-player src="${values[getRandomInt(0, 2)]}"  background="transparent"  speed="1" loop autoplay></lottie-player>`);
		</script>
	</div>

	{# {% include "README.njk" %} #}

	<!-- Footer Scripts -->
	{% include "templates/custom-scripts.njk" %}
</body>
</html>
